.gem
.boto
code/**
.NERDTreeBookmarks
.asdf/
.aws/
.bash_history/
.bundle/
.bash_history
.cache/
.docker/
.fzf/
.gnupg/
.bash_logout
.helm/
.local/
.npm/
.gsutil/
.kube/
.vscode-server
.sudo_as_admin_successful
.ssh
.lesshst
.solargraph
.vimundo
.zcompdump
.vimplugins
.zhistory
.zfunctions
.viminfo
.yarnrc
.config/gcloud
.tool-versions
.vim/.netrwhist
.wget-hsts
.node_repl_history
